version: 2.1

orbs:
  node: circleci/node@3.0

executors:
  go-exec:
    description: |
      "The official CircleCI Go Docker image on Docker Hub.
      Found here: https://hub.docker.com/r/cimg/go"
    docker:
      - image: cimg/go:1.14
    environment:
      GOPATH: /home/circleci/go
  golangci-lint:
    description: |
      "Go linters runnner."
    docker:
      - image: golangci/golangci-lint:v1.27.0

jobs:
  unit_test:
    executor: go-exec
    steps:
      - checkout
      - run:
          command: make test_unit
          name: exec unit test

  intergration_test:
    executor: go-exec
    steps:
      - checkout
      - run:
          command: make test_intergration
          name: exec intergration test

  go_lint:
    executor: golangci-lint
    steps:
      - checkout
      - run:
          name: exec go lint
          command: make lint_go

  md_lint:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          cache-version: "{{ .Environment.CACHE_VERSION }}"
          cache-path: ~/.npm
          with-cache: true
      - run:
          name: exec markdown lint
          command: make lint_md

workflows:
  check_code:
    jobs:
      - unit_test
      - intergration_test
      - go_lint
      - md_lint
